*{
    margin: 0;
    padding: 0;
}
nav{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    background-color: rgba(25, 6, 6, 0.356);
    font-size: 20px;
    float: clear;
}
div{
display: flex;
align-items: center;
justify-content: space-between;
}
body{
    background-image: url(my.avif);
    background-repeat: no-repeat;
    background-size: 100%;
}
a{
    text-decoration: none;
    color: rgba(238, 145, 5, 0.904);
}
H1{
    color: rgb(235, 231, 231);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
